/* Allgemeine Einstellungen */
body {
    background-image: url('../images/Hintergrund.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 400vh; /* Verlängert die Seite für Scrolltrigger */
    width:100vh;
    overflow-x: hidden;
    
}

/* Abschnitt 1 Anfang Überschrift */

.screen{
  height: 100vh;
  font-size: xx-large;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  line-height: 1;
}

h1{
  font-family: windsong;
  color: brown;
}




































/* Abschnitt 2 Sebi Hand */





































/* Abschnitt 3 Amelie Hand */

.container{
    height: 300vh; 
    position: relative;
  }


.HandAmelie {
    position: absolute;
    top: 80vh; 
    left: -1100px;
    width: 100px;
    transform: translateY(-50%);
    height: auto;
    width: 80%;
  }
  



































/* Abschnitt 4 Sebi Hand */





































/* Abschnitt 5 Handherz Ende */

.SebiHerz{
    width: 120%;
    height: auto;
}

.AmelieHerz{
  width: 120%;
  height: auto;
}