/* Allgemeine Einstellungen */
body {
 
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;

}


/* Background Image */

.bgImg{
  background-image: url('../images/Hintergrund.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;


}

/* Audio */

.Schallplatte-button {
  height: 100px; 
  width: 100px; 
  position: relative;
  top: 20px;    
  left: 20px;   
}




/* Abschnitt 1 Anfang Überschrift */

.screen {
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  padding-top: 11%; 
}

h1 {
  font-family: "Gwendolyn", serif;
  color: brown;
  font-size: 150px;
  line-height: 0.8; 
  margin: 0; 
}

h1 span{
  font-size: 120px;
}

.Herz {
  margin: 6rem auto; 
  height: auto;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  margin-bottom: 5%;
}

.Herz img {
  max-width: 100%; 
  height: auto;
}





/* ANIMATION */

/* Abschnitt 2 Sebi Hand */

.handsection {
  position: relative;
  height: 300vh;
  overflow: hidden;
  margin-bottom: -300vh; 
}

.hand-image-container {
  position: absolute;
  top: -10%;
  left: 10%;
  width: 90%;
  height: 100vh;
  background: url('../images/SebiHand.png') center/cover no-repeat;
}

.text{
  font-family: "Waterfall", serif;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.0;
  color: #000;
  text-align: left;
}

.textsection {
  position: relative;
  z-index: 10; 
  color: white; 
  width: 80%;
  margin-top: 25%;
  margin-left: 20%;
}

.rose{
  background: url('../images/rose.png');
  position: absolute;
  height: 20vh; 
  width: 20vw;  
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 16%; 
  margin-left: 8%; 
  z-index: 10; 
  opacity: 0;
}




/* Abschnitt 3 Amelie Hand */

.handsection2 {

  position: relative;
  height: 300vh;
  overflow: hidden;
  margin-bottom: -300vh; 
}

.hand-image-container2 {
  position: absolute;
  top: -6%;
  left: 15%; 
  width: 100%;
  height: 100vh;
  background: url('../images/AmelieHand.png') center/cover no-repeat;
}


.text2{
  font-family: "Waterfall", serif;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.0;
  color: #000;
  text-align: right;
}

.textsection2 {
  position: relative;
  z-index: 10; 
  color: white; 
  width: 80%;
  margin-top: 27%;

}

.mond{
  background: url('../images/mond.png');
  position: absolute;
  height: 15vh;
  width: 15vw; 
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 22%;
  margin-left: 76%; 
  z-index: 10; 
  opacity: 0; 
}


/* Abschnitt 4 Sebi Hand */

.handsection3 {
  position: relative;
  height: 300vh;
  overflow: hidden;
  margin-bottom: -150vh;
}

.hand-image-container3 {
  position: absolute;
  top: -9%; 
  left: 10%;
  width: 90%;
  height: 100vh;
  background: url('../images/SebiHand.png') center/cover no-repeat; 
  z-index: 1; 
}

.text3{
  font-family: "Waterfall", serif;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 1.0;
  color: #000;
  text-align: left;
}

.textsection3 {
  position: relative;
  z-index: 10; 
  width: 80%;
  margin-top: 27%;
  margin-left: 20%;
}

.taube{
  background: url('../images/taube.png');
  position: absolute;
  height: 15vh; 
  width: 15vw;  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 19%; 
  margin-left: 10%; 
  z-index: 10; 
  opacity: 0; 
}





/* Abschnitt 5 Handherz Ende */

.herzhand {
  height: 1000px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  position: relative;
  overflow: hidden; 
}

.SebiHerz {
  width: 70%; 
  height: auto; 
  position: relative;
  transform: translateX(100%); 
  top: -75px; 
  transition: transform 1.5s ease; 
}


.AmelieHerz {
  width: 78%; 
  height: auto; 
  position: relative;
  transform: translateX(-100%); 
  transition: transform 1.5s ease; 
}



.kussmund1 {
  width: 15%;
  position: absolute;
  transform: translateX(50%) translateY(50px); 
  opacity: 0; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}


.kussmund2 {
  width: 15%;
  position: absolute;
  transform: translateY(100px) scaleX(-1); 
  opacity: 0; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

.kussmund3 {
  width: 15%;
  position: absolute;
  transform: translateX(500%) translateY(-50px) scaleX(-1); 
  opacity: 0; 
  transition: opacity 0.5s ease, transform 0.5s ease; 
}